<div class="top-footer two-columns">
     <div class="left">
        <span>
            <h1>¿Quieres<br> colaborar?</h1>
            <p>
                La colaboración es la llave de todo lo que hacemos.   
                Si quieres ser parte de alguno de nuestros proyectos 
                o te gustaría que te ayudemos a planear un evento, ¡escríbenos!
            </p>
        </span>

    <div class="button green">
        CONTACTO
    </div>
 </div>
 
 <div class="right">
    <span>
        <h1>Newsletter</h1>
        <p>Entérate primero de todos nuestros proyectos, nuevos eventos y productos.</p>
    </span>
    <input type="text" class="text-line" value="EMAIL"/>
    <div class="button green">
        ENVIAR
    </div>
 </div>

</div>

<div class="bottom-footer">
    <div class="side">
        <ul>
            <li><a href="">apoya nuestro proyecto</a></li>
            <li><a href="">colabora con nosotras</a></li>
            <li><a href="">terminos y condiciones</a></li>
        </ul>  
    </div>
    <div>
     <img src="{{ '/assets/images/logos/slowlab_yellow.png' | relative_url }}" alt="Slow lab">
     
    </div>
    <div class="side">
        <ul>
            <li><a href="">contacto</a></li>
            <li><a href="">hola@slowlab.com</a></li>
            <li><a href="">síguenos</a></li>
            <li><a href="">@slowlab</a></li>        
        </ul>    
    </div>

</div>