<div class="navbar" id="slowNav">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
    </a>
    <a href="{{ site.baseurl }}/" id="logo"><img src="{{ '/assets/images/logos/slowlab_green.png' | relative_url }}" alt="Slow Lab"></a>
    <a href="" class="menu">ACERCA DE</a>
    <a href="{{ site.baseurl }}/projects" class="menu">PROYECTOS</a>
    <a href="" class="menu">EVENTOS</a>
    <a href="" class="menu">TIENDA</a>
    <a href="" class="menu">CONTACTO</a>
    <a href="" class="menu"><i class="fa-solid fa-globe"></i></a>
</div>


