<div class="navbar" id="slowNav">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
    </a>
    <a href="{{ site.baseurl }}/"><span id="logo"><img src="{{ '/assets/images/logos/slowlab_green.png' | relative_url }}" alt="Slow Lab"></span></a>
    <a href=""><span class="menu">ACERCA DE</span></a>
    <a href=""><span class="menu">PROYECTOS</span></a>
    <a href=""><span class="menu">EVENTOS</span></a>
    <a href=""><span class="menu">TIENDA</span></a>
    <a href=""><span class="menu">CONTACTO</span></a>
    <a href=""><span class="menu"><i class="fa-solid fa-globe"></i></span></a>
</div>
