$baseurl: "{{ site.baseurl }}";

// Slow colors
$dark-green: #002D22;
$off-white: #F2F2E1;
$light-green: #D9DCB1;
$slow-green: #008A6E;
$sunshine:#FFE342;
$lily:#8F9EDC;
$lavander:#E3E7F7;

// Slow fonts
@font-face {
  font-family: "Necto Mono";
  font-style: normal;
  font-weight: 400;
  src: url(/website/assets/fonts/NectoMono-Regular.otf); 
}

@font-face {
  font-family: "Noto Serif";
  // font-style: light !important;
  font-weight: 300 !important;
  src: url(/website/assets/fonts/NotoSerif-ExtraLight.ttf); 
}

$bodyFont1: "Noto Serif","Times New Roman";
$bodyFont2: "Necto Mono", "Courier New";

html {
  scrollbar-gutter: stable;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  background: $off-white;
  color: $dark-green;
  font-family: $bodyFont2;
}

h1 {
  margin-bottom:20px;
  font-size: 48px;
  font-family: $bodyFont1;
  line-height: 110%;
  font-weight: 400;
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 0px;
  }
}


h3 {
  font-size:20px;
  font-family: $bodyFont2;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom:40px;
}

p {
  line-height: 135%;
  font-size:18px;
}

.yellow {
  color: $sunshine;
}

.green-bg {
  background-color: $slow-green;
}

.lily-bg {
  background-color: $lily;
}

.light-green-bg {
  background-color: $light-green;
}

