.button {
    border-radius:100px;
    padding:25px 50px;
    width: fit-content;
    margin-top:40px;
    font-size: 18px;
    max-height: 70px;
    text-transform: uppercase;

    // font-family: "Noto Serif";

    &.green {
        border: 3px solid $dark-green;
        color: $dark-green
    }

    &.yellow {
        border: 3px solid $sunshine;
        color: $sunshine;
    }

}

a.button {
    text-decoration: none;
}


@media screen and (max-width: 780px) {
    .button {
        &.green {
            border: 2px solid $dark-green;
        }
    
        &.yellow {
            border: 2px solid $sunshine;
        }
    }
}

.btn-contact {
    // padding:25px 50px;
    width: 100%;
    color: $dark-green

}


a.btn-contact {
    text-decoration: none;
}