.two-columns {
    display: flex;
    height:auto;
    max-width:100vw;

    .left {
        border-right: solid 3px $dark-green;
        width: 49%;
        padding: 70px 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .right {
        padding: 70px 70px;
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .right-img {
        padding: 70px 70px;
        width: 49%;
        flex-direction: column;
        background-image: url(/assets/images/slowlab_square3.png);
        background-position: center top;
        background-size: auto 100%;
    }

}

