// Two columns desktop
.two-columns {
    display: flex;
    height:auto;
    max-width:100vw;

    .col-text:nth-child(2) {
        border-right: none;
    }

    .one-col {
        width: 100%;
        padding: 70px 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.field {
            padding:20px 70px;
        }
    }

    .col-text {
        width: 50%;
        padding: 70px 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            padding-right:30px;
            padding-top:30px;
            font-weight: 200px;
        }

        &.small {
            width: 35%;
            border-right: none;
            justify-content: center;
            h1{margin:0px;}
        }
    
        &.bigger {
            width: 65%;
            p {padding-top:0px;}
        }

        &.field {
            padding:20px 70px;
        }
    }

    .col-img {
        padding: 70px 70px;
        width: 50%;
        flex-direction: column;
        background-position: center;
        background-size:cover;

        &.home {background-image: url("/website/assets/images/slowlab_square3.png");}
        &.projects {background-image: url("/website/assets/images/projects/espai-consum/espaiconsum_slowlab.jpg");}
    }
}

// Two columns mobile
@media screen and (max-width: 780px) {
    .two-columns {
        flex-direction: column-reverse;

        &.normal {flex-direction: column;}

        .one-col {
            width:auto;
        }
        .col-text {
            border-right: none !important;
            width:auto;
            padding: 50px 24px;
            justify-content: center;
            align-items: center;

            &.small {
                width: auto;
                // border-top: none;
                padding: 50px 24px;
                h1 {text-align: left;}
            }
            &.bigger {
                width: auto;
                padding: 0px 24px 24px 24px;
                // border-top: none;
                p {padding:0px;}

            }
        }

        .col-img {
            width: auto;
            height:220px;
            background-image: url("/website/assets/images/slowlab_square3.png"); 
            background-position: center;
            background-repeat: no-repeat; /* Prevent the image from repeating */
            background-size:cover;
        }
    }
}

// Banner titre section desktop
.section-banner {
    display: flex;
    align-items: center;
    height: 70px;
    border-top: solid 3px $dark-green;
    border-bottom: solid 3px $dark-green;
    margin-left: -40px;
    text-overflow: clip;
    overflow:hidden;
    white-space: nowrap;

    h1 {
      margin-bottom:0;
      margin-right:80px;
    }
  }

// Banner titre section mobile
@media screen and (max-width: 780px) {
    .section-banner {
        margin:auto;
        width:100%;
        justify-content: center;

        h1:not(:nth-child(3)) {display: none;}

        h1{
            margin-right:0px;
        }
    }
}

// Slogan & background desktop
.section-bg {
    .slogan-frame {
        background-color: $sunshine;
        border-radius: 20px;
        margin: 70px;
        padding: 80px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &#slogan {
        background-image: url('/website/assets/images/leah_banner.jpg');
        background-position: center;
        background-size:cover;
    }
  }

// Slogan & background mobile
@media screen and (max-width: 780px) {
    .section-bg {
        .slogan-frame {
            border-radius: 0px;
            padding: 50px;
            margin: 0px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &#slogan {
            // padding: 50px 24px;
            background-image:none;
        }
  }
}

// Banner section & button desktop
.title-banner {
    padding-left:70px;
    padding-right:70px;
    height: 120px;
    display: flex;
    align-items: center;
    // border-bottom: solid 3px $dark-green;
    justify-content: space-between;

    h1 {margin:0;}
    .button{margin:0}
  }

// Banner section & button mobile
@media screen and (max-width: 780px) {
    .title-banner {
      flex-direction: column;
      padding: 24px 24px;
      height: auto;
    }
}

// Events slider desktop
.events-banner {
    border-top: solid 3px $dark-green;

    .left {
        width: 30%;
        height: 500px;
        padding: 70px 70px;
        display: flex;
        flex-direction: column;
    }
    .right {
        padding: 70px 70px;
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .right-img {
        padding: 70px 70px;
        width: 49%;
        flex-direction: column;
        background-image: url("/website/assets/images/slowlab_square3.png"); 
        background-position: center;
        background-size:cover;
    }
  }

  // Carousel desktop
.carousel-projects {
    border-top: solid 3px $dark-green;
    padding: 0px 70px 70px 70px;
    display: flex;

  .left {
        width: 50%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding:120px 120px 120px 0px;

        h1 {
            margin-bottom:80px;
        }
  }

  .right-img {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 0px 0px 0px;

    img {
        &.mySlides  {
            object-fit: cover;
            max-height: 594px;
            max-width: 594px;
            border-radius:20px;
            margin-bottom: 40px;
        }
    }
}
}

// Carousel mobile
@media screen and (max-width: 780px) {
    .carousel-projects {
        flex-direction:column;
        padding: 50px 24px 24px 24px;

        .left {
            width: 100%;
            height: auto;
            padding:0px;
    
            h1 {
                margin-bottom:40px;
            }

            h3 {
                margin-bottom:20px;
            }

            p {
                margin-bottom: 20px;
            }
      }

    
      .right-img {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 0px 0px 0px;
    
        img {
            &.mySlides  {
                object-fit: cover;
                max-height: 284px;
                max-width: auto;
                border-radius:20px;
                margin-bottom: 40px;
            }
        }
    }

    }

}

// Central section
.central {
    border-top: solid 3px $dark-green;
    padding: 50px 70px;
    text-align: center;
    h1.title{padding-bottom:10px;}
}

.row {
    display:flex;
    justify-content: space-between;
    padding-left:25%;
    padding-right:25%;
    padding-top:40px;
}

@media screen and (max-width: 780px) {
    .central {
        padding: 40px 24px;
        h1{padding-bottom:10px;}
    }


    .row {
        display:flex;
        justify-content: space-between;
        padding:0;
        flex-direction: column;

        img{
        padding: auto;
        }
    }
}   