.two-columns {
    display: flex;
    height:auto;
    max-width:100vw;

    .left {
        border-right: solid 3px $dark-green;
        width: 49%;
        padding: 70px 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .right {
        padding: 70px 70px;
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .right-img {
        padding: 70px 70px;
        width: 49%;
        flex-direction: column;
        background-image: url("/website/assets/images/slowlab_square3.png"); 
        background-position: center;
        background-size:cover;
    }

}

.section-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-top: solid 3px $dark-green;
    border-bottom: solid 3px $dark-green;
    margin-left: -20px;
    text-overflow: clip;
  
    h1 {
      margin-bottom:0;
    }
  }
  
.section-bg {

    .slogan-frame {
        background-color: $sunshine;
        border-radius: 20px;
        margin: 70px;
        padding: 80px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &#slogan {
        background-image: url('/website/assets/images/leah_banner.jpg');
        background-position: center;
        background-size:cover;
    }

  }

  