.nav-slides {
    display:flex;
    justify-content: space-between;
    max-width:594px;
}


@media screen and (max-width: 780px) {
    .nav-slides {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}




.nav-numbers {
    display:flex;
    justify-content: center;
}


.nb-slide {
    font-size:24px;
    font-family: $bodyFont2;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    width: 40px;
    height: 40px;

    &.selected {
        background-color: $sunshine;
        border-radius: 50%;

    }
}