<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{'/assets/images/icons/favicon.ico' | relative_url }}" />
  </head>
  <body>
    <script src="{{'/assets/js/slideshow.js' | relative_url }}"></script>
    {% include navigation.html %}
    {{ content }}
  </body>
  <footer> 
    {% include footer.html %}
  </footer>
</html>
